.adverts-container {
  display: grid;
  justify-content: center;
  grid-gap: 100px;
  grid-template-areas: 'f s t';
  padding: 30px;
  div:nth-child(1) {
    grid-area: f;
  }
  div:nth-child(2) {
    grid-area: s;
  }
  div:nth-child(3) {
    grid-area: t;
  }
  div {
    text-align: center;
    width: 300px;
    color: $font-color;
    p {
      line-height: 28px;
    }
    p:first-of-type {
      font-weight: 600;
    }
  }
}

@media(max-width: $tablet-size) {
  .adverts-container {
    grid-gap: 24px;
    padding: 15px;
    div {
      width: 220px;
    }
  }
}

@media(max-width: $phone-size) {
  .adverts-container {
    display: block;
    padding: 25px 15px;
    div {
      width: unset;
      display: grid;
      grid-template-areas: 'i h' 'i d';
      margin-bottom: 15px;
      svg {
        grid-area: i;
        align-self: center;
        width: 80px;
        margin-right: 15px;
      }
      p:first-of-type {
        margin-bottom: 15px;
      }
      p {
        text-align: left;
        margin: 0;
      }
    }
  }
}