.carousel-wrapper {
  display: grid;
  padding-top: 50px;
  grid-template-areas:
          'l c r'
          'l f r';
  ._carousel-container {
    overflow: hidden;
    width: 660px;
    justify-self: center;
    margin: 0 30px 0 30px;
    .__slide-wrapper {
      white-space: nowrap;
      transition: transform 0.3s;
      grid-area: c;
      .carousel-item {
        display: inline-block;
        text-align: center;
        ._item-wrapper {
          white-space: normal;
          .__item-testimonial {
            text-align: justify;
            margin: 35px 0 35px 0;
            font-style: italic;
            color: $font-color;
            //margin-top: 35px;
          }
          .__item-pic {
            text-align: center;
          }
        }
      }
    }
  }
  ._arrow-left, ._arrow-right {
    align-self: center;
    button {
      cursor: pointer;
      border: none;
      background: transparent;
    }
  }
  ._arrow-left {
    grid-area: l;
    justify-self: right;
  }
  ._arrow-right {
    grid-area: r;
  }
  ._dots {
    grid-area: f;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    .__arrow-right-m, .__arrow-left-m {
      display: none;
    }
    .dot {
      border-radius: 25px;
      border: 0;
      width: 12px;
      height: 12px;
      margin: 5px;
      cursor: pointer;
      background-color: #E5E9EE;
      &.active {
        background-color: #ABC;
      }
    }
  }
}

@media(max-width: $tablet-size) {
  .carousel-wrapper {
    ._carousel-container {
      width: 570px;
    }
  }
}

@media(max-width: $phone-size) {
  .carousel-wrapper {
    display: block;
    padding-left: 15px;
    ._carousel-container {
      width: calc(100% - 20px);
      margin: 0;
      .__slide-wrapper {
        .carousel-item {
          ._item-wrapper {
            .__item-testimonial {
              text-align: left;
            }
          }
        }
      }
    }
    ._arrow-left, ._arrow-right {
      display: none;
    }
    ._dots {
      padding-right: 15px;
      align-items: center;
      justify-content: space-between;
      .__arrow-right-m, .__arrow-left-m {
        display: block;
        background: transparent;
        border: none;
      }
    }
  }
}
