.footer-container {
  ._footer-wrapper {
    background-color: #4a4a4a;
    padding: 64px 164px;
    display: grid;
    grid-template-areas: 'l f s t';
    .__footer-logo-wrapper {
      grid-area: l;
      justify-self: center;
      img {
        width: 85px;
        height: 85px;
      }
    }
    .__icon-wrapper {
      margin-top: 10px;
      svg:nth-child(1) {
        width: 7px;
        height: 14px;
      }
      svg:nth-child(2) {
        width: 14px;
        height: 11px;
        margin-left: 20px;
      }
      svg:nth-child(3) {
        width: 15px;
        height: 14px;
        margin-left: 20px;
      }
      svg {
        path {
          fill: white;
        }
      }
    }
    .__footer-first-sec {
      grid-area: f;
      justify-self: center;
    }
    .__footer-second-sec {
      grid-area: s;
      justify-self: center;
    }
    .__footer-third-sec {
      grid-area: t;
      justify-self: center;
    }
    button:not(:first-of-type), a:not(:first-of-type) {
      margin-top: 10px;
    }
    button {
      display: block;
      background-color: transparent;
      border: none;
      color: white;
      font-weight: 500;
      cursor: pointer;
      font-size: 17px;
    }
    a {
      display: block;
      color: white;
      font-size: 17px;
      font-weight: 500;
      text-decoration: none;
    }
  }
  ._reference-container {
    background-color: #f9f9f9;
    text-align: center;
    p {
      font-size: 15px;
      padding: 30px 0;
      margin: 0;
      color: $font-color;
    }
  }
}

@media(max-width: $tablet-size) {
  .footer-container {
    ._footer-wrapper {
      padding: 68px 40px;
      //grid-gap: 60px;
    }
  }
}

@media(max-width: $phone-size) {
  .footer-container {
    ._footer-wrapper {
      padding: 45px 0;
      display: block;
      div {
        text-align: center;
        a {
          margin-top: 15px;
        }
        button {
          margin-top: 15px;
          margin-left: 50%;
          transform: translate(-50%);
        }
      }
      .__footer-logo-wrapper {
        display: none;
      }
      //grid-gap: 60px;
    }
  }
}