.navbar-container {
  padding: 0 15px 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  ._mobile-logo {
    display: none;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
  ._items-wrapper {
    display: flex;
    .__burger-menu-icon {
      display: none;
    }
    .__item-wrapper {
      padding-left: 20px;
      color: #7f7f7f;
      svg {
        width: 25px;
        height: 13px;
        margin-left: 5px;
        path {
          fill: #979797;
        }
      }
    }
  }
}

@media (max-width: $tablet-size) {
  .navbar-container {
    border-bottom: 1px solid #aabbcc;
    ._desktop-logo {
      display: none;
    }
    ._mobile-logo {
      display: block;
    }
    ._items-wrapper {
      //width: 100%;
      //justify-content: right;
      .__item-wrapper {
        display: none;
      }
      .__burger-menu-icon {
        display: block;
      }
    }
  }
}