.statistic-container {
  background-image: linear-gradient(to bottom, rgba(68, 85, 102, 0), rgba(68, 85, 102, 0.75)), url("/assets/images/stats_bg.png");
  background-size: cover;
  height: 506px;
  display: grid;
  grid-template-areas:
          'm m m m c c r r r r r r r r r r r r r r r r'
          'm m m m c c f f f f f f f f f f f f f f f f';
  grid-gap: 25px;
  padding: 10px;
  ._contact-form-wrapper {
    background: white;
    grid-area: c;
    align-self: center;
    padding: 15px;
    border-radius: 8px;
    ._form-description {
      text-align: center;
      h1 {
        color: $font-color;
        font-size: 28px;
        margin: 0;
      }
      p {
        color: $font-color;
        font-size: 18px;
      }
    }
    form {
      margin-top: 30px;
      div:not(.button-wrapper) {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-areas: 'l i i i i i i i i';
        grid-gap: 40px;
        align-items: center;
        padding: 0 70px 0 20px;
        margin-bottom: 20px;
        label {
          grid-area: l;
          color: $font-color;
          font-size: 18px;
          justify-self: right;
        }
        input {
          grid-area: i;
          justify-self: right;
          height: 48px;
          width: 100%;
          border: solid 1px $border-color;
          border-radius: $input-border-radius;
          padding: 0 10px;
          font-size: 18px;
          ::placeholder {
            color: $border-color;
          }
          &:focus {
            outline-color: #09e;
          }
          &.red-outline {
            border-color: #ee5566;
          }
        }
      }
      div.button-wrapper {
        padding: 0 0 0 60px;
        justify-content: center;
        text-align: center;
      }
      input[type="submit"] {
        cursor: pointer;
        background: #0099ee;
        width: 280px;
        height: 48px;
        border-radius: $input-border-radius;
        margin-top: 10px;
        font-size: 18px;
        border: none;
        color: white;
        font-weight: 600;
      }
    }
  }
  ._contact-form-fallback-wrapper {
    background: white;
    grid-area: c;
    align-self: center;
    padding: 52px;
    border-radius: 8px;
    ._form-description {
      text-align: center;
      h1 {
        color: $font-color;
        font-size: 28px;
        margin: 0;
      }
      p {
        color: $font-color;
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
    form {
      div {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-areas: 'l p';
        grid-gap: 40px;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 50%;
        transform: translate(-50%);
        label {
          grid-area: l;
          color: $font-color;
          font-size: 18px;
          margin-top: 20px;
        }
        p {
          color: $font-color;
          font-weight: bold;
          grid-area: p;
          justify-self: left;
          align-self:end;
          margin: 0;
          border-radius: $input-border-radius;
          font-size: 18px;
        }
      }
    }
    hr {
      height: 0;
      border-top: 1px solid #aabbcc;
    }
  }
  ._stats-wrapper {
    grid-area: f;
    color: white;
    .__stats-description {
      font-size: 18px;
      font-weight: 600;
    }
    .__stats-items {
      display: flex;
      text-align: center;
      div:not(:first-child) {
        flex-basis: 170px;
      }
      div {
        h1 {
          margin: 0;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media(max-width: $tablet-size) {
  .statistic-container {
    display: block;
    background: transparent;
    height: unset;
    padding: 0;
    border-bottom: 10px solid #f9f9f9;
    ._contact-form-fallback-wrapper {
      form {
        width: 100%;
        padding: 0;
        div {
          margin-left: 50%;
          transform: translate(-50%);
          p {
            width: 100%;
          }
        }
      }
    }
    ._contact-form-wrapper {
      padding-bottom: 58px;
      padding-top: 30px;
    }
    ._stats-wrapper {
      text-align: center;
      display: block;
      padding: 15px;
      background-image: linear-gradient(to bottom, rgba(68, 85, 102, 0.75), rgba(68, 85, 102, 0.75)), url("/assets/images/stats_bg.png");
      background-size: cover;
      .__stats-items {
        justify-content: center;
      }
    }
  }
}

@media(max-width: $phone-size) {
  .statistic-container {
    ._contact-form-wrapper {
      ._form-description {
        text-align: left;
        h1 {
          font-size: 24px;
        }
        p {
          display: none;
        }
      }
      form {
        div:not(.button-wrapper) {
          display: block;
          padding: 0 23px 0 0;
          input {
            margin-top: 15px;
          }
        }
        div.button-wrapper {
          padding: 0 0 0 0;
        }
      }
    }
    ._contact-form-fallback-wrapper {
      padding: 18px;
      ._form-description {
        padding: 18px 18px 0 18px;
      }
      form {
        padding: 18px 0;
        div {
          margin-left: 0;
          transform: none;
          display: block;
          p {
            margin-top: 10px;
          }
        }
      }
    }
    ._stats-wrapper {
      background-position: center;
      .__stats-items {
        margin-top: 25px;
        display: grid;
        grid-template-areas: 'l r' 'bl br';
        grid-gap: 20px 70px;
      }
    }
  }
}