.testimonial-container {
  padding-bottom: 60px;
  border-bottom: 20px solid #f9f9f9;
  ._brand-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    div {
      text-align: center;
      flex-basis: 220px;
    }
  }
}

@media(max-width: $tablet-size) {
  .testimonial-container {
    padding-bottom: 40px;
    border-width: 10px;
    ._brand-wrapper {
      padding: 0 40px;
      img {
        width: 106px;
        height: 28px;
      }
    }
  }
}

@media(max-width: $phone-size) {
  .testimonial-container {
    ._brand-wrapper {
      padding: 30px;
      margin: 0;
      display: grid;
      grid-template-areas: 'iml imr''imc imc''imbl imbr';
      grid-gap: 20px;
      div:nth-child(1) {
        grid-area: iml;
      }
      div:nth-child(2) {
        grid-area: imr;
      }
      div:nth-child(3) {
        grid-area: imc;
        img {
          width: 153px;
        }
      }
      div:nth-child(4) {
        grid-area: imbl;
      }
      div:nth-child(5) {
        grid-area: imbr;
      }
    }
  }
}