.why-us-container {
  background: url("/assets/images/why_bg.png") no-repeat;
  padding: 60px 0 60px 0;
  border-top: 20px solid #f9f9f9;
  border-bottom: 20px solid #f9f9f9;
  background-size: 100% 80%;
  ._content-wrapper {
    width: 660px;
    margin-left: 50%;
    transform: translate(-50%);
    h1, h4, p {
      color: $font-color;
    }
    div {
      margin-top: 40px;
    }
  }
}

@media(max-width: $tablet-size) {
  .why-us-container {
    background: url("/assets/images/why_t_bg.png") no-repeat;
    background-size: cover;
    padding: 40px 0 40px 0;
    border-width: 10px;
    ._content-wrapper {
      width: 480px;
      margin-left: 30px;
      transform: none;
    }
  }
}

@media(max-width: $phone-size) {
  .why-us-container {
    padding: 15px;
    border-width: 10px;
    ._content-wrapper {
      width: unset;
      margin-left: 0;
      transform: none;
      h1 {
        font-size: 24px;
      }
    }
  }
}